<form id="login-form" action="/api/users/login" method="post">
    <label for="email_address">Email address</label>
    <input type="text" id="email_address" name="email_address">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button>Login</button>
</form>